.navbar {
	display: flex;
	color: white;
	font-family: Inter
  }
  
  .navItem {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 0.6rem;
  }
  .navItem > span{
	font-size: 0.9rem;
  }
  
  .icon {
	font-size: 0.9rem;
	margin-bottom: 5px;
  }
  